.validation-message {
    color: red;
    position: absolute;
    height: 1em;
    margin-top: 10px;
    line-height: 1em;
    font-size: 0.857em;
    text-align: left;
  }
.form-row{
    display:inline-block;
    margin-left: 90px;
}
.form-section{
    display:inline-block;
    margin-left: 165px;
}
.col-md-6{
    margin-left: 250px;
    margin-top: 30px;
    display:inline-block;

}
.col-xs-12{
    margin-left: 0px;
    margin-top: 30px;
    display:inline-block;
    
}
.custom-field{
    margin-left: 540px;
    margin-top: 30px;
}
.row{
    margin-left: 585px;
    margin-top: -30px;
    margin-bottom: 30px;
}
.btn{
    border: 3px solid;
}
.table{
    margin-top: 30px;
    text-align: center;
}

.header-content {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Space between name and indicator */
    align-items: center; /* Center vertically */
    width: 150px;
    background-color: rgb(239, 236, 236);
    flex-grow: 1;
  }

.sort-indicator {
    margin-left: 5px; /* Space between text and indicator */
    font-size: 16px; /* Adjust size as needed */
    color: #020e1b; /* Change color to match your theme */
    transition: transform 0.2s; /* Smooth transition */
}
  
.sort-indicator:hover {
    transform: scale(1.2); /* Slightly enlarge on hover */
}
th {
    text-align: center; /* Position for pseudo-elements */
    padding: 10px; /* Padding for table headers */
    border-bottom: 2px solid #ddd;
}
  
th:hover {
    background-color: rgb(239, 236, 236);
    cursor: pointer; /* Cursor pointer */
}
.dark{
    margin: 100px;
    margin-left: 500px;
}

