<form>
    <div class="form-control">
      <div class="form-section">
        <label for="userName" class="label text-muted"> First Name </label>
        <input formControlName="userName"
               id="userName"
               autocomplete="off"
               class="form-control"/>
        <div >
          <!-- <div  class="validation-message">
            Need to fill
          </div> -->
        </div>
      </div>
      <div class="form-section">
        <label for="userEmail" class="label text-muted"> Last Name </label>
        <input formControlName="userEmail"
               id="userEmail"
               autocomplete="off"
               class="form-control"/>
        <div>
          <!-- <div  class="validation-message">
            Incorrect Email
          </div> -->
        </div>
      </div>
      <div class="form-section">
        <label for="userEmail" class="label text-muted"> Role </label>
        <input formControlName="userEmail"
               id="userEmail"
               autocomplete="off"
               class="form-control"/>
        <div>
          <!-- <div  class="validation-message">
            Incorrect Email
          </div> -->
        </div>
      </div>
      <div class="form-section">
        <label for="userEmail" class="label text-muted"> Email </label>
        <input formControlName="userEmail"
               id="userEmail"
               autocomplete="off"
               class="form-control"/>
        <div>
          <!-- <div  class="validation-message">
            Incorrect Email
          </div> -->
        </div>
      </div>
      <hr>
      <div class="form-row">
        <label for="userEmail" class="label text-muted"> Username </label>
        <input formControlName="userEmail"
               id="userEmail"
               autocomplete="off"
               class="form-control"/>
        <div>
          <!-- <div  class="validation-message">
            Incorrect Email
          </div> -->
        </div>
      </div>
      <div class="form-row">
        <label for="userEmail" class="label text-muted"> Birth Date </label>
        <input formControlName="userEmail"
               id="userEmail"
               autocomplete="off"
               class="form-control"/>
        <div>
          <!-- <div  class="validation-message">
            Incorrect Email
          </div> -->
        </div>
      </div>
      <div class="form-row">
        <label for="userEmail" class="label text-muted"> Address </label>
        <input formControlName="userEmail"
               id="userEmail"
               autocomplete="off"
               class="form-control"/>
        <div>
          <!-- <div  class="validation-message">
            Incorrect Email
          </div> -->
        </div>
      </div>
    </div>
</form>

