<form #form="ngForm" (ngSubmit)="onAddUser()">
    <div class="col-md-6">
      <app-alert
      [message]="error"
      *ngIf="errorHandlingMode"
      (close)="onHandleError()"
      ></app-alert>
      <button
        class="btn btn-outline-success"
        type="button"
        *ngIf="!viewForm"
        (click)="onAdd()"
        >
        Add New User
      </button>
    </div>
    <div class="col-xs-12">
        <button
          class="btn btn-outline-danger"
          type="button"
          *ngIf="!viewForm"
          (click)="onDeleteAll()"
          >
          Delete All Users
        </button>
      </div>
    <div class="form-control" *ngIf="viewForm">
      <div class="form-section">
        <label for="firstName" class="label text-muted"> First Name </label>
        <input name="firstName"
               id="firstName"
               autocomplete="off"
               class="form-control"
               type="text"
               required
               ngModel
               #firstName="ngModel"/>
        <div >
          <div class="validation-message"
          *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            Need to fill
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="lastName" class="label text-muted"> Last Name </label>
        <input name="lastName"
               id="lastName"
               autocomplete="off"
               class="form-control"
               type="text"
               required
               ngModel
               #lastName="ngModel"/>
        <div>
          <div class="validation-message"
          *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            Need to fill
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="role" class="label text-muted"> Role </label>
        <select name="role"
                id="role"
                autocomplete="off"
                class="form-control"
                required
                ngModel
                #role="ngModel">
                <option *ngFor="let role of roles ">
                  {{ role }}
                </option>                  
        </select>
          <div class="validation-message"
          *ngIf="role.invalid && role.touched">
            Need to choose
          </div>
      </div>
      <div class="form-section" style="margin-top: 25px;">
        <label for="email" class="label text-muted"> Email </label>
        <input name="email"
               id="email"
               autocomplete="on"
               class="form-control"
               type="email"
               required
               ngModel
               #email="ngModel"/>
        <div>
          <div class="validation-message"
          *ngIf="email.invalid && (email.dirty || email.touched)">
            Incorrect Email
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="userName" class="label text-muted"> Username </label>
        <input name="userName"
               id="userName"
               autocomplete="off"
               class="form-control"
               type="text"
               required
               ngModel
               #userName="ngModel"/>
        <div>
          <div class="validation-message"
          *ngIf="userName.invalid && (userName.dirty || userName.touched)">
            Incorrect Username
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="birthDate" class="label text-muted"> Birth Date </label>
        <input name="birthDate"
               id="birthDate"
               autocomplete="off"
               class="form-control"
               type="date"
               required
               ngModel
               #birthDate="ngModel"/>
        <div>
          <div class="validation-message"
          *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)">
            Need to fill
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 25px;">
        <div class="form-row">
          <label for="city" class="label text-muted"> City </label>
          <input name="city"
                 id="city"
                 autocomplete="off"
                 class="form-control"
                 type="text"
                 required
                 ngModel
                 #city="ngModel"/>
          <div class="validation-message"
          *ngIf="city.invalid && (city.dirty || city.touched)">
              Need to fill
          </div>
        </div>
        <div class="form-row">
          <label for="street" class="label text-muted"> Street </label>
          <input name="street"
                  id="street"
                  autocomplete="off"
                  class="form-control"
                  type="text"
                  required
                  ngModel
                  #street="ngModel"/>
            <div class="validation-message"
            *ngIf="street.invalid && (street.dirty || street.touched)">
                Need to fill
            </div>
          </div>
          <div class="form-row">
            <label for="houseNumber" class="label text-muted"> House Number </label>
            <input name="houseNumber"
                   id="houseNumber"
                   autocomplete="off"
                   class="form-control"
                   type="number"
                   required
                   pattern="^[1-9]+[0-9]*$"
                   ngModel
                   #houseNumber="ngModel"/>

            <div class="validation-message"
            *ngIf="houseNumber.invalid && (houseNumber.dirty || houseNumber.touched)">
                Need to fill
            </div>
          </div>
          <div class="form-row">
            <label for="postCode" class="label text-muted"> Post Code </label>
            <input name="postCode"
                   id="postCode"
                   autocomplete="off"
                   class="form-control"
                   type="text"
                   required
                   ngModel
                   #postCode="ngModel"/>
            <div class="validation-message"
            *ngIf="postCode.invalid && (postCode.dirty || postCode.touched)">
                Need to fill
            </div>
          </div>
       </div>
       <div class="form-group" *ngIf="secondAddress" style="margin-top: 25px;">
        <div class="form-row">
          <label for="city" class="label text-muted"> City </label>
          <input name="city1"
                 id="city"
                 autocomplete="off"
                 class="form-control"
                 type="text"
                 ngModel/>
        </div>
        <div class="form-row">
            <label for="street" class="label text-muted"> Street </label>
            <input name="street1"
                   id="street"
                   autocomplete="off"
                   class="form-control"
                   type="text"
                   ngModel/>
          </div>
          <div class="form-row">
            <label for="houseNumber" class="label text-muted"> House Number </label>
            <input name="houseNumber1"
                   id="houseNumber"
                   autocomplete="off"
                   class="form-control"
                   type="number"
                   pattern="^[1-9]+[0-9]*$"
                   ngModel/>
          </div>
          <div class="form-row">
            <label for="postCode" class="label text-muted"> Post Code </label>
            <input name="postCode1"
                   id="postCode"
                   autocomplete="off"
                   class="form-control"
                   type="text"
                   ngModel/>
          </div>
       </div>
       <div class="row" *ngIf="!secondAddress">
            <div class="col-xs-12">
                <button 
                    type="button"   
                    class="btn btn-outline-dark"
                    style="margin-top: 25px;"
                    (click)="onAddAddress()">+Address</button>
            </div>
        </div>
      <hr>
      <div class="custom-field">
        <button
        *ngIf="!editMode"
        class="btn btn-outline-primary"
        type="submit"
        [disabled]="!userForm.valid"
        > 
        Add User
        </button>
        <button
        *ngIf="editMode"
        class="btn btn-outline-warning"
        type="button"
        (click)="onUpdateUser()"
        [disabled]="!userForm.valid"
        >
        Update User
        </button>
        |
        <button
        class="btn btn-outline-danger"
        type="button"
        (click)="onCancel()"
        >
        Cancel
        </button>
      </div>
    </div>
    <h4 class="dark" *ngIf="users.length < 1">No Users available!</h4>
    <table 
      class="table table-success table-striped-columns"
      *ngIf="users.length >=1 ">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Role</th>
        <th scope="col">Email</th>
        <th scope="col">Usrername</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Address</th>
      </tr>
      <tbody >
          <tr *ngFor="let item of users; let i = index">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.role}}</td>
            <td>{{item.email}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.birthDate}}</td>
            <td style="text-align: left;">
              <tr *ngFor="let item of item.address; let i = index">
                City: {{item.city}}, Street: {{item.street}}, House Number: {{item.houseNumber}}, Post Code: {{item.postCode}}
              </tr>
            </td>
            <td>
              <button class="btn btn-success" type="button" (click)="onEditUser(i)">Edit</button>
              |
              <button class="btn btn-danger" type="button" (click)="onDeleteUser(item.id)" >Delete</button>
            </td>
          </tr>
      </tbody> 
    </table>
</form>

