<form [formGroup]="userForm" (ngSubmit)="onAddUser()">
    <div class="col-md-6">
      <app-alert
      [message]="error"
      *ngIf="errorHandlingMode"
      (close)="onHandleError()"
      ></app-alert>
      <button
        class="btn btn-outline-success"
        type="button"
        *ngIf="!viewForm"
        (click)="onAdd()"
        >
        Add New User
      </button>
    </div>
    <div class="col-xs-12">
        <button
          class="btn btn-outline-danger"
          type="button"
          *ngIf="!viewForm"
          (click)="onDeleteAll()"
          >
          Delete All Users
        </button>
      </div>
    <div class="form-control" *ngIf="viewForm">
      <div class="form-section">
        <label for="firstName" class="label text-muted"> First Name </label>
        <input formControlName="firstName"
               id="firstName"
               autocomplete="off"
               class="form-control"
               type="text"/>
        <div >
          <div class="validation-message"
          *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
            Need to fill
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="lastName" class="label text-muted"> Last Name </label>
        <input formControlName="lastName"
               id="lastName"
               autocomplete="off"
               class="form-control"
               type="text"/>
        <div>
          <div class="validation-message"
          *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
            Need to fill
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="role" class="label text-muted"> Role </label>
        <select formControlName="role"
                id="role"
                autocomplete="off"
                class="form-control">
                <option *ngFor="let role of roles ">
                  {{ role }}
                </option>                  
        </select>
      </div>
      <div class="form-section" style="margin-top: 25px;">
        <label for="email" class="label text-muted"> Email </label>
        <input formControlName="email"
               id="email"
               autocomplete="on"
               class="form-control"
               type="email"/>
        <div>
          <div class="validation-message"
          *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Incorrect Email
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="userName" class="label text-muted"> Username </label>
        <input formControlName="userName"
               id="userName"
               autocomplete="off"
               class="form-control"
               type="text"/>
        <div>
          <div class="validation-message"
          *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
            Incorrect Username
          </div>
        </div>
      </div>
      <div class="form-section">
        <label for="birthDate" class="label text-muted"> Birth Date </label>
        <input formControlName="birthDate"
               id="birthDate"
               autocomplete="off"
               class="form-control"
               type="date"/>
        <div>
          <div class="validation-message"
          *ngIf="userForm.get('birthDate')?.invalid && userForm.get('birthDate')?.touched">
            Need to choose
          </div>
        </div>
      </div>
      <div formArrayName="address">
      <div class="form-group" style="margin-top: 25px;"
           *ngFor="let addressItem of controls; let i = index"
           [formGroupName] = "i">
        <div class="col-xs-12">
            <button 
                type="button"   
                class="btn btn-outline-danger"
                (click)="onCancelAddress(i)">X</button>
        </div>
        <div class="form-row">
          <label [for]="'city' + i" class="label text-muted"> City </label>
          <input formControlName="city"
                 [id]="'city' + i"
                 autocomplete="off"
                 class="form-control"
                 type="text"/>
          <div class="validation-message"
          *ngIf="addressItem.get('city')?.invalid && addressItem.get('city')?.touched">
              Need to fill
          </div>
        </div>
        <div class="form-row">
          <label [for]="'street' + i" class="label text-muted"> Street </label>
          <input formControlName="street"
                 [id]="'street' + i"
                 autocomplete="off"
                 class="form-control"
                 type="text"/>
            <div class="validation-message"
            *ngIf="addressItem.get('street')?.invalid && addressItem.get('street')?.touched">
                Need to fill
            </div>
          </div>
          <div class="form-row">
            <label [for]="'houseNumber' + i" class="label text-muted"> House Number </label>
            <input formControlName="houseNumber"
                   [id]="'houseNumber' + i"
                   autocomplete="off"
                   class="form-control"
                   type="number"
                   pattern="^[1-9]+[0-9]*$"/>
            <div class="validation-message"
            *ngIf="addressItem.get('houseNumber')?.invalid && addressItem.get('houseNumber')?.touched">
                Need to fill
            </div>
          </div>
          <div class="form-row">
            <label [for]="'postCode' + i" class="label text-muted"> Post Code </label>
            <input formControlName="postCode"
                   [id]="'postCode' + i"
                   autocomplete="off"
                   class="form-control"
                   type="text"/>
            <div class="validation-message"
            *ngIf="addressItem.get('postCode')?.invalid && addressItem.get('postCode')?.touched">
                Need to fill
            </div>
          </div>
       </div>
      </div>
       <div class="row" >
            <div class="col-xs-12">
                <button 
                    type="button"   
                    class="btn btn-outline-dark"
                    style="margin-top: 25px;"
                    (click)="onAddAddress()">+Address</button>
            </div>
        </div>
      <hr>
      <div class="custom-field">
        <button
        *ngIf="!editMode"
        class="btn btn-outline-primary"
        type="submit"
        [disabled]="!userForm.valid"
        > 
        Add User
        </button>
        <button
        *ngIf="editMode"
        class="btn btn-outline-warning"
        type="button"
        (click)="onUpdateUser()"
        [disabled]="!userForm.valid"
        >
        Update User
        </button>
        |
        <button
        class="btn btn-outline-danger"
        type="button"
        (click)="onCancel()"
        >
        Cancel
        </button>
      </div>
    </div>
    <h4 class="dark" *ngIf="users.length < 1">No Users available!</h4>
    <table 
      class="table table-success table-striped-columns"
      *ngIf="users.length >=1 ">
      <tr>
        <th scope="col" (click)="sortUsers('firstName')" style="cursor: pointer;">First Name</th>
        <th scope="col" (click)="sortUsers('lastName')" style="cursor: pointer;">Last Name</th>
        <th scope="col" (click)="sortUsers('role')" style="cursor: pointer;">Role</th>
        <th scope="col" (click)="sortUsers('email')" style="cursor: pointer;">Email</th>
        <th scope="col" (click)="sortUsers('userName')" style="cursor: pointer;">Usrername</th>
        <th scope="col" (click)="sortUsers('birthDate')" style="cursor: pointer;">Birth Date</th>
        <th scope="col" (click)="sortUsers('address')" style="cursor: pointer;">Address</th>
      </tr>
      <tbody >
          <tr *ngFor="let item of users; let i = index">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.role}}</td>
            <td>{{item.email}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.birthDate}}</td>
            <td style="text-align: left;">
              <tr *ngFor="let item of item.address; let i = index">
                City: {{item.city}}, Street: {{item.street}}, House Number: {{item.houseNumber}}, Post Code: {{item.postCode}}
              </tr>
            </td>
            <td>
              <button class="btn btn-success" type="button" (click)="onEditUser(i)">Edit</button>
              |
              <button class="btn btn-danger" type="button" (click)="onDeleteUser(item.id)" >Delete</button>
            </td>
          </tr>
      </tbody> 
    </table>
</form>

