<h3>WebWinkel (POC)</h3>
<div class="header">
    <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item" *ngIf="isAuthenticated">
            <a routerLink="/products" class="nav-link active" routerLinkActive="active" aria-current="page">Products</a>
        </li>
        <li role="presentation" class="nav-item" *ngIf="isAuthenticated && user?.role === role.Admin">
            <a routerLink="/user" class="nav-link" routerLinkActive="active">Users</a>
        </li>
        <li role="presentation" class="nav-item" *ngIf="isAuthenticated && user?.role === role.Custm">
            <a routerLink="/shoppingcart" class="nav-link" routerLinkActive="active">
                Shopping Cart 
                <span class="badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
            </a>
        </li>
        <li role="presentation" class="nav-item" *ngIf="!isAuthenticated">
            <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
        </li>
    </ul>
    <div class="logout-container" *ngIf="isAuthenticated">
        <span class="user-name">Hello, {{ fullName }} !</span>
        <a class="logout-button" (click)="onLogout()">Logout</a>
    </div>
</div>
    
