<h3>CRUD app-example</h3>
    <div class="row">
        <ul class="nav nav-tabs">
  
          <li role="presentation" class="nav-item">
            <a routerLink="/products" class="nav-link active" routerLinkActive="active" aria-current="page">Products</a>
          </li>
          <li role="presentation"  class="nav-item">
            <a a routerLink="/user" class="nav-link" routerLinkActive="active">Users</a>
          </li>
  
          <!-- TODO: implement "Shopping" and "Login" -->
          <li role="presentation"  class="nav-item">
            <a a routerLink="shoppinglist" class="nav-link" routerLinkActive="active">ShoppingList</a>
          </li>
          <li role="presentation"  class="nav-item">
            <a a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
          </li>
  
          <!-- This is just an example of a disabled tab -->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          
        </ul>
    </div>
    
