  <div class="row">
    <div class="space"></div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <app-alert
        [message]="error"
        *ngIf="error"
        (close)="onHandleError()"
        ></app-alert>
      <div *ngIf="isLoading" style="text-align: center;">
        <ngx-spinner>
            <div class="cssload-container">
              <div class="cssload-speeding-wheel"></div>
            </div>
          </ngx-spinner>
      </div>
      <div class="login-container">
        <h4>Welcome!</h4>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          <div class="form-group">
            <label for="email">E-Mail</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
                placeholder="Enter your email"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fas fa-lock"></i></span>
              <input
                type="password"
                id="password"
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6"
                placeholder="Enter your password"
              />
            </div>
          </div>
          <div>
            <button
              class="btn btn-primary"
              type="submit"
              style="margin-top: 10px;"
              [disabled]="!authForm.valid"
            >
              Login
            </button>
          </div>
          <!-- <div class="text-center">
            <a href="/forgot-password" class="forgot-password">Forgot Password?</a>
          </div> -->
        </form>
      </div>

      <div class="space"></div>
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Disclaimer</h4>
        <p>The website is a demo (POC) created by <a href="https://www.linkedin.com/in/artur-pukhavoi-7b104b302/" class="alert-link">Artur Pukhavoi</a>. It is intended for demonstration purposes only.</p>
        <p>Please note the following:</p>
        <ul>
          <li><b>Security</b>: Security aspects are not implemented. It should NOT be used for real data or sensitive information.</li>
          <li><b>API</b>: The site uses a mock-APIs with no real back-end functionality</li>
        </ul>  
        <hr>
        <p class="mb-0">More details on a project can be found in Github: 
          <a href="https://github.com/arturPukhavy/Webwinkel" class="alert-link">https://github.com/arturPukhavy/Webwinkel</a>
        </p>
      </div>
        
    </div>
  </div>  
